# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Vagrant:
.vagrant
vagrant_ansible_inventory*

# Others:
*.DS_Store
*.coverage
*.sublime-workspace

# Site specific:
utdallasiia_site/media/*
utdallasiia_site/smedia/*
utdallasiia_site/assets/*
