{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="row">
	<div class="six columns centered">
		<div class="panel radius">
			<h3>Please Login to Access Content</h3>
			<hr>
			<h5 class="subheader">Login with your LinkedIn account:</h5>
			<div class="row">
				<div class="eight columns centered">
					<a href="{% url socialauth_begin 'linkedin' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="th"><img src="{{ STATIC_URL }}images/linkedin_logo.png"></a>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>
{% endblock base_content %}